<mat-card class="p-6 max-w-lg mx-auto">
  <h2 class="text-2xl font-bold mb-4">
    {{ "ADD_CERTIFICATE" | translate }} Type
  </h2>

  <form class="space-y-4">
    <mat-form-field class="w-full">
      <mat-label>{{ "TITLE" | translate }}</mat-label>
      <input matInput [(ngModel)]="certificateType.name" name="name" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ "DESCRIPTION" | translate }}</mat-label>
      <textarea
        matInput
        [(ngModel)]="certificateType.description"
        name="description"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="w-full"
      (click)="saveCertificateType()"
    >
      {{ "SAVE" | translate }}
    </button>
  </form>
</mat-card>
