<h1 mat-dialog-title>{{ "EDIT" | translate }}</h1>

<div mat-dialog-content>
  <form class="space-y-3">
    <mat-form-field class="w-full">
      <mat-label>{{ "FIRST_NAME" | translate }}</mat-label>
      <input matInput [(ngModel)]="crew.firstName" name="firstName" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ "LAST_NAME" | translate }}</mat-label>
      <input matInput [(ngModel)]="crew.lastName" name="lastName" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ "NATIONALITY" | translate }}</mat-label>
      <mat-select [(ngModel)]="crew.nationality" name="nationality">
        <mat-option *ngFor="let n of nationalities" [value]="n">{{
          n
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ "TITLE" | translate }}</mat-label>
      <mat-select [(ngModel)]="crew.title" name="title">
        <mat-option *ngFor="let t of titles" [value]="t">{{ t }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label> {{ "DAYS_ON_BOARD" | translate }}</mat-label>
      <input
        matInput
        min="0"
        type="number"
        [(ngModel)]="crew.daysOnBoard"
        name="daysOnBoard"
      />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ "DAILY_RATE" | translate }}</mat-label>
      <input
        matInput
        min="0"
        type="number"
        [(ngModel)]="crew.dailyRate"
        name="dailyRate"
      />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ "CURRENCY" | translate }}</mat-label>
      <mat-select [(ngModel)]="crew.currency" name="currency">
        <mat-option *ngFor="let c of currencies" [value]="c">{{
          c
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">{{ "CANCEL" | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()">
    {{ "SAVE" | translate }}
  </button>
</div>
