<div class="">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-3xl font-semibold text-indigo-900">
      {{ "CREW_LIST" | translate }}
    </h1>
    <button mat-raised-button color="primary" (click)="openAddCrewDialog()">
      {{ "ADD_CREW" | translate }}
    </button>
  </div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="crewList" class="mat-elevation-z8 w-full">
      <ng-container matColumnDef="discount" class="">
        <th mat-header-cell *matHeaderCellDef>{{ "DISCOUNT" | translate }}</th>
        <td mat-cell *matCellDef="let crew">
          <input
            min="0"
            type="number"
            [(ngModel)]="discountValues[crew.id]"
            (input)="getTotalIncome()"
            class="!border !border-gray-300 rounded px-2 py-1 w-16 !focus:outline-none"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>
          {{ "FIRST_NAME" | translate }}
        </th>
        <td mat-cell *matCellDef="let crew">{{ crew.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>{{ "LAST_NAME" | translate }}</th>
        <td mat-cell *matCellDef="let crew">{{ crew.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef>
          {{ "NATIONALITY" | translate }}
        </th>
        <td mat-cell *matCellDef="let crew">{{ crew.nationality }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>{{ "TITLE" | translate }}</th>
        <td mat-cell *matCellDef="let crew">{{ crew.title }}</td>
      </ng-container>

      <ng-container matColumnDef="daysOnBoard">
        <th mat-header-cell *matHeaderCellDef>
          {{ "DAYS_ON_BOARD" | translate }}
        </th>
        <td mat-cell *matCellDef="let crew">{{ crew.daysOnBoard }}</td>
      </ng-container>

      <ng-container matColumnDef="dailyRate">
        <th mat-header-cell *matHeaderCellDef>
          {{ "DAILY_RATE" | translate }}
        </th>
        <td mat-cell *matCellDef="let crew">{{ crew.dailyRate }}</td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>{{ "CURRENCY" | translate }}</th>
        <td mat-cell *matCellDef="let crew">{{ crew.currency }}</td>
      </ng-container>

      <ng-container matColumnDef="totalIncome">
        <th mat-header-cell *matHeaderCellDef>
          {{ "TOTAL_INCOME" | translate }}
        </th>
        <td mat-cell *matCellDef="let crew">
          {{ getDiscountedIncome(crew) | currency : crew.currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="certificates">
        <th mat-header-cell *matHeaderCellDef>
          {{ "CERTIFICATES" | translate }}
        </th>
        <td mat-cell *matCellDef="let crew">
          <button
            mat-button
            color="accent"
            class="whitespace-nowrap"
            (click)="showCertificates(crew.certificates)"
          >
            {{ "VIEW" | translate }} ({{ crew.certificates.length }})
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let crew" class="flex items-center !py-2.5">
          <button mat-button color="primary" (click)="viewCrew(crew.id)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512"
              fill="currentColor"
              class="w-4 h-4 text-indigo-600"
            >
              <path
                d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
              />
            </svg>
          </button>
          <button mat-button color="accent" (click)="openEditCrewDialog(crew)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              fill="currentColor"
              class="w-4 h-4 text-green-700"
            >
              <path
                d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
              />
            </svg>
          </button>

          <button mat-button color="warn" (click)="deleteCrew(crew.id)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              fill="currentColor"
              class="w-4 h-4 text-red-600"
            >
              <path
                d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"
              />
            </svg>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="mt-8 text-right text-lg font-semibold">
    {{ "TOTAL_INCOME" | translate }}
    <span class="text-indigo-600">{{ getTotalIncome() | currency }}</span>
  </div>
</div>
