<h1 mat-dialog-title>Add Crew</h1>

<div mat-dialog-content>
  <form class="space-y-3">
    <mat-form-field class="w-full">
      <mat-label>{{ "FIRST_NAME" | translate }}</mat-label>
      <input matInput [(ngModel)]="crew.firstName" name="firstName" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>
        {{ "LAST_NAME" | translate }}
      </mat-label>
      <input matInput [(ngModel)]="crew.lastName" name="lastName" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>
        {{ "NATIONALITY" | translate }}
      </mat-label>
      <mat-select [(ngModel)]="crew.nationality" name="nationality">
        <mat-option *ngFor="let n of nationalities" [value]="n">{{
          n
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>
        {{ "TITLE" | translate }}
      </mat-label>
      <mat-select [(ngModel)]="crew.title" name="title">
        <mat-option *ngFor="let t of titles" [value]="t">{{ t }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>
        {{ "DAYS_ON_BOARD" | translate }}
      </mat-label>
      <input
        matInput
        min="0"
        type="number"
        [(ngModel)]="crew.daysOnBoard"
        name="daysOnBoard"
      />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>
        {{ "DAILY_RATE" | translate }}
      </mat-label>
      <input
        matInput
        min="0"
        type="number"
        [(ngModel)]="crew.dailyRate"
        name="dailyRate"
      />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>
        {{ "CURRENCY" | translate }}
      </mat-label>
      <mat-select [(ngModel)]="crew.currency" name="currency">
        <mat-option *ngFor="let c of currencies" [value]="c">{{
          c
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="space-y-2">
      <h2 class="text-lg font-semibold">{{ "CERTIFICATES" | translate }}</h2>

      <button
        mat-raised-button
        color="accent"
        (click)="addCertificate()"
        type="button"
      >
        {{ "ADD_CERTIFICATE" | translate }}
      </button>

      <div
        *ngFor="let certificate of crew.certificates; let i = index"
        class="grid grid-cols-2 gap-4 border border-gray-200 shadow-sm p-3 rounded relative"
      >
        <mat-form-field class="col-span-2 w-full">
          <mat-label>Certificate {{ "TYPE" | translate }}</mat-label>
          <mat-select [(ngModel)]="certificate.type" name="type-{{ i }}">
            <mat-option *ngIf="certificateTypes.length === 0" disabled>
              No certificate types available. Add first pls
            </mat-option>
            <mat-option
              *ngFor="let type of certificateTypes"
              [value]="type.name"
            >
              {{ type.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label> {{ "ISSUE_DATE" | translate }}</mat-label>
          <input
            matInput
            type="date"
            class="!h-[30px]"
            [(ngModel)]="certificate.issueDate"
            name="issueDate-{{ i }}"
          />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label> {{ "EXPIRE_DATE " | translate }}</mat-label>
          <input
            matInput
            type="date"
            class="!h-[30px]"
            [(ngModel)]="certificate.expiryDate"
            name="expiryDate-{{ i }}"
          />
        </mat-form-field>

        <button
          mat-icon-button
          color="warn"
          (click)="removeCertificate(i)"
          type="button"
        >
          <mat-icon>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              fill="currentColor"
              class="!w-4 !h-4 text-red-600"
            >
              <path
                d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"
              /></svg
          ></mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">{{ "CANCEL" | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()">
    {{ "SAVE" | translate }}
  </button>
</div>
